{deps_dir, ["deps"]}.
{sub_dirs, ["apps/mirgames_server", "apps/mirgames_web", "test"]}.
{erl_opts, [debug_info, fail_on_warning]}.
{cover_enabled, true}.
{deps, [
	{misultin, ".*", {git, "git://github.com/ostinelli/misultin.git", "master"}},
	{gproc, ".*", {git, "git://github.com/esl/gproc.git", "master"}},
	{log4erl, ".*", {git, "git://github.com/ahmednawras/log4erl.git", "master"}},
	{meck, ".*", {git, "git://github.com/eproxus/meck.git", "master"}},
	{nitrogen_core, "2.1.*", {git, "git://github.com/nitrogen/nitrogen_core.git", "HEAD"}},
	{nprocreg, "0.2..*", {git, "git://github.com/nitrogen/nprocreg.git", "HEAD"}},
	{simple_bridge, "1.2.*", {git, "git://github.com/nitrogen/simple_bridge.git", "HEAD"}},
	{sync, "0.1.*", {git, "git://github.com/rustyio/sync.git", "HEAD"}}
]}.
